<router-outlet></router-outlet>
<a href="http://localhost:4200/main" class="main">メイン画面へ</a><br>
<a href="http://localhost:4200/twowaybinding" class="twowaybinding">双方向バインディングを試す</a><br>
<a href="http://localhost:4200/twowaybindingservice" class="twowaybindingservice">サービスを使った双方向バインディングを試す</a><br>
<a href="http://localhost:4200/apiget" class="apiget">API GET通信を試す</a><br>
<a href="http://localhost:4200/apipost" class="apipost">API POST通信を試す</a><br>
<a href="http://localhost:4200/lifecycle" class="lifecycle">angularのライフサイクルを確認する</a>
